/* Overall container for the registration page */


.register-container {
  width: 500px;
  position: absolute;
  top: 5%;
  left: 31.5%;
  transform: translate(-50,-50);
  /*margin-bottom: 50px; /* Adjust the value as needed */
  padding-bottom: 100px;
  align-items: center;
  
}


/* Styling for the registration box */
.register-box {
  background-color: #000000b9; /* White background for the form */
  padding: 30px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  /*width: 300px; /* Fixed width for the form *
  /*max-width: 25dvw;*/
  max-height: 90vh;
  
  min-width: 300px; /* Minimum width */
  min-height: 400px; /* Minimum height */
  max-width: 90%; /* Allow it to grow on larger screens */
  /*margin: 0px auto ; /* Center the box horizontally */
  /*height: auto; /* Allow height to adjust based on content */
  z-index: 1;
}

/* Header styling */
.register-box h2 {
  text-align: center;
  color: #d4d4d4; /* Dark blue color */
  font-size: 1.5em;
}

/* Input group styling */
.input-groupregister {
  margin-bottom: 15px;
  color: #ffffff;
  
}

/* Label styling */
.input-groupregister label {
  display: block;
  margin-bottom: 5px;
  
  font-size: 14px;
  
  
}

/* Input field styling */
.input-groupregister input {
  width: 100%; /* Full width inputs */
  padding: 7px;
  border: 1px solid #ccc; /* Light border */
  border-radius: 4px; /* Rounded corners */
  background-color: #d4d4d4;
  
}

/* Checkbox and terms agreement styling */
.agree-terms {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Space below the terms checkbox */
}
.agree-terms input{
  margin: 2px; /* Adds a small space between the checkbox and label */
  padding: 2px !important;
  border: 0;
  box-sizing: initial;
}
.agree-terms label{
  color:#009688;
  width: 50%;
}

/* Button styling */
.register-button {
  background-color: #036f8a; /* Teal background color */
  color: white; /* White text color */
  border: none;
  border-radius: 15px; /* Rounded corners */
  padding: 10px;
  cursor: pointer; /* Pointer cursor on hover */
  width: 100%; /* Full width button */
  font-size: 15px; /* Increase font size */
}

/* Change button color on hover */
.register-button:hover {
  background-color: #0eb7ce; /* Darker teal on hover */
}

/* Link styling */
.register-box p {
  text-align: center;
  margin-top: 8px; /* Space above paragraph */
}

.register-box a {
  color: #009688; /* Teal color for links */
  text-decoration: none; /* Remove underline */
  
}

/* Change link color on hover */
.register-box a:hover {
  text-decoration: underline; /* Underline on hover */
}
.agree{
  font-size:12px ;
  color: #ffffff;
}